# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
version: ~> 1.0

language: shell
os: linux
dist: bionic

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce
      - python3
      - python3-pip
      - python3-setuptools

branches:
  only:
    - master

git:
  depth: 5
  quiet: true

bundler_args: --retry 3

conditions: v1

env:
  global:
    - DOCKER_ORG=mozillasecurity
    - secure: gTFxYDI0st75gBzu48CFzAR/xLNl7WJs2cg5NmTuxCBdjSJVF8D99xSJ9RH6u7Qw7pvHbe1Yenz6zmhVi3dLjU397LsGwWgT0vtaSta3PrnMIZA4sGpNmSaukJtGQIJBz8/omC5Khv9YuHG37df2QtvtvlDqxR42Cyf7nWX6mNYcM4TEautRYyVz5xNNGZF0VQ4y/HIl3Uljm5BxY4O2DXGxUVqun8Fl7AW3AL+Li+3JbQqryMZv2WQMJ0K6g32289HxHT2X6jDdsDx9amIsW1jpyKF9OlFpjPVnQrbKu3Ycq7u3XTer8BC77E6uIRvkKyeS8KHsA7Wgafibjz4fpOh60wT1+aGh+IoyrGE6LnbDfwkK1wsfTD8lq+Slb/le0cKEeu3wbg7cyqYKsRvi2wd285eLR4vweSmFxRZeuRjMKzQfUABXhEHxBOEv7KaAbR+i4mWDLvaKihF68qWDAs5422lLxQySkEM3ulj9N7TWcX92QlqJHdpaQaIlpTcqYMTQUygaWdeULbaUQNgxJCw9eVSIMILHxIRTjgaaJKDVJWD7dta1cfBDUPZQTT797FthlZa9ucP8hJS2hOi6AxGpAYwo38trp7rgOGhCwRtDWvg3mL/5Z4PzFMb6yhBDzSFoi1BMVzQZaifjMb/vkrbiM4RZeuAbm+0+jz5gUe8=
    - secure: D8Lw/hCz3x2mH4tWc1QhuABdtKuBfEv4/5SmkQpBf4CTZ0SOjTyfOlzVrDwCgzz/YS4UHJgN1Oo2yg8TVy9Jggoe7Iz4h/cX8enpklQBLo6+wYgQqJMliHkAQzit7cTN7W50ujc9E73MCqV2MYtDfKeZlsjftelvtJCq4fRKHyYH4GQKNj/OVWD6aJ4T/o9gfcRjmh3NRfS8blXDx8AMsdIML0k6Av4nflxLLQytWUxPzWkSOHMSKLqOD3E9OboDMCCN4ANzdhRCd31y6JoXpb0yRdaksPWJnbwc1vuf3Gm8laxTtKfc9WcYj4ZhxgwWwAcm2900LdAgQmwOERGDSqpnq3RewTo5WhbziMSfPL3h/bIC7cSsTrqcMmdcIgBuWDoVCgRlN24vhcpKxMCzxJsJ8HscqAVUsZpsYQvX+FwXxARyvslm78ih3UH6KfeUI1b514B8XiGU/F4CIQOy7JRfxusFb7KdHhzHlnKmQxUG24v8hBOwjx7pqInIF5L4JrW2nVzL3cexMHqsm85B/OSZ+kwcpNi/c9ZOhuZW35vvTg56CLpe8cPa28+A+Oepko6yP7I0c0topeghDjfpl/YQHKG1qjczp9jLTnOzYngs4rD6nqn5MEJwzjrMzmJgVRdDrXgz93Das6wYqMN/cAXeDFZLovpetCDB48Z6Zms=

before_script:
  - ./scripts/prepare-docker.sh
  - set -e
  - make lint
  - travis_retry ./scripts/ci-docker-login.sh

# Defines the order build stages within jobs.include below.
stages:
  - Requirements
  - Core
  - FuzzOS
  - Grizzly
  - Services

jobs:
  allow_failures:
    - env: IMAGE=services/libfuzzer
    - env: IMAGE=services/funfuzz
    - env: IMAGE=services/grizzly-android
    - env: IMAGE=services/u2f-hid-rs
    - env: IMAGE=services/fuzzmanager
  include:
    - stage: Requirements
      env: IMAGE=services/linter
      name: Linter
    - stage: Core
      env: IMAGE=core/linux
    - stage: FuzzOS
      env: IMAGE=base/linux/fuzzos
    - stage: Grizzly
      env: IMAGE=services/grizzly
      name: Grizzly
    - stage: Services
      env: IMAGE=services/libfuzzer
      name: LibFuzzer
    - env: IMAGE=services/funfuzz
      name: FunFuzz
    - env: IMAGE=services/credstash
      name: Credstash
    - env: IMAGE=services/grizzly-android
      name: Grizzly Android
    - env: IMAGE=services/fuzzmanager
      name: FuzzManager
    - env: IMAGE=services/u2f-hid-rs
      name: U2F-HID Rust
    - env: IMAGE=services/ci-py-27
      name: CI Python 2.7
    - env: IMAGE=services/ci-py-35
      name: CI Python 3.5
    - env: IMAGE=services/ci-py-36
      name: CI Python 3.6
    - env: IMAGE=services/ci-py-37
      name: CI Python 3.7
    - env: IMAGE=services/ci-py-38
      name: CI Python 3.8
    - env: IMAGE=services/ci-node-10
      name: CI Node 10
    - env: IMAGE=services/ci-node-12
      name: CI Node 12

script:
  - ./monorepo.py -ci travis -build -test -deliver -path $IMAGE

after_script:
  - travis_retry docker logout
