# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
language: generic

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce
      - python3
      - python3-pip

git:
  depth: 5
  quiet: true

bundler_args: --retry 3

conditions: v1

stages:
  - Requirements
  - Base
  - Grizzly

env:
  global:
    - DOCKER_ORG=mozillasecurity
    - secure: niM2Qdx4hqM7kAoY8ywqE+HP8MY5MJJAkib0uWbOsPMES/rMvilSZDxSvLHzdjfRxFRNgbbo3UrHlfoxlHA5vnn1G8QJit+MiR0JzAdboDvHuSKoQtpg1QfR2Wc4dRqgTYAAJf3RL0qjmKuyN+99DSCc3/zgnRJYX+ovTGdtN0AJcqnJewwlwXqHTUUU/xzmLDdHAtWXOEAixyUmlYIdZjTZ4ZRE336xQGMS6HDuOygPqf0KI807pt+/nVuZNSXCerHUa9yNTt+HlhqIGFOa/JxnXKYG1MDN7xFBRh8u4BGWk//gPNRPTUdEsqdI8KuLi+8Hn2+tI6OLRyJ6Q3XZx++5QhC/KvJ4eOhHeniTwNr4cZBXPtnqbSzbp0XI8bG+iiHF55uJzvGmGDNl55pTYdFaHgHRcmCSKYkZII1dnF/8BPGZN2zuRNNSOj7rihRr0KlX/6ZwjMbAn5OdMWeS7XixzGulXznvfiimiuzhQmZIq0N0Q+CgceK8E0waLXSvIeZNOiL8KTB4I4AA7RgfP02ud+PYIMZvrkJ0JrGv7H+yPwXIGDAk9RrxxF5IDxT5JnH23ovFpuyHSAxjKnVbLrhLve4udi/HqNyguUdXeYZaP3YI7miLt4i+EKUfmuuDFY7x4/VtLYqw/CBpviqixs6SQ6iu8Pah/tcuYSKH7GU=
    - secure: ReLLjRohAue6lznHh8uxg2Xx0E1yc2IG/XEqKcT1p71etGYDB49cLXwAUJoQO5ZXgg5MyZC4h7paBWacl6Gn9kCsYalmVBK4GLmu8kGjNkSYV/Pbj8tTs7RKf3pfA+YAQRHof2PqeuZDWvMRcZTFaIZspqVpGjKFQnL5QGk5VteEDYYp+buLbTUkn68qknb1OA6rzfIWotKy43r6T6fgoeGDfTBwuWWDV1YEwjEPja5LhohFXb1NVjsLgUMZQ3MopQg53LjynCgH5PwVPbCWuOuyNVthDq/Hr4T02HBj/eGnsKBHjxv/xtoEGhc4yJUhX+kHR1jXiMfmUKRxyQ2H2mOQ2YIAziijLE6htwrNxQn2NgO0zav/GXIFfALJMAi2MQ+l8mqaVZ7QuO6iN8QRjNzyh5dhEWXpFa54tqwa8rTnYvL6FXZ5MtGXa+IWIT2RBbqpLUiqtkkG0P8xkoo7sVauAjt9hBKOcOjDMtbCgyN8J7geW5gTPcSB74TiHV+UWk9qivSVWQaqwO2k6eM5aMs4JPBAzZoOfAPzBnjyRSWMKZyWB9YERk2D1puPEbxc2/8A1U2jT7dsN1eLFwUDTA7yerAELsLzw3iYE3e2fogpyoof+OY5RTR2OTPPWAazwg69phvrhZCHLxcgqFbTfbbFwjTOAOxwRcwvVNGaW0Q=
    - secure: UGiZHzBqKP1y2nIpJinie9AITtEqUz7gXTEBBEULskrrNLbrmE1UqTdBACNgr4Q/RLodgAN2AQ/IQITsM9Ye7vRddrb7/tJmQitTpVTup2mQqyfrffEkov5KjJjVY01uSWAUEQaZ8BNRMgClfS/kTer8SIaOxlXgYAUrLtMWqx53stmDJo0QRQfyk0/lyg5FxNQuWHMtZniJbd62LuJUAqB6MTIG9yt4wc+mv1NuEP1YaCrQEvcnm8QDfhRs3YQQnBY/K7fGh9Tba7NOJ5+tEUUKENtEY6PmfXjABxG29oppK83/1r3QaNJslFbUnsXQ9jINJwxJR9Cgx/6NugaPAy6ZCZUP5KORqjm1pqepw3vlQ5KkCp9kXcVoJoivEx7wnVBT7Yu+dc8jS1oOz7+yJ3ji2X+ok9m4aNerWjp+FC30NyhZ4lTHWvWvSEzjm61MdjdGcJKNS+7qiXXd4qPEIc6ZJw+QnsGyBWxySeUpeTMVw97H27Hb8OO1NxCDrf2teM6b2fX0aaqITNaCZdAE4sXICNdUAdPGTRAEsnYDk/d99G13cFLkS6O5oDmHqlpUi0+rjDfzhef4wN9SYxIPZIAuaUJvFpHVJjVz5Vd+jLHS3H+60IbDduJieqAz9Fnf5d4Se9CMPGRTi3iKIZ4fkJMtz/Vjp+cJgVwmKTj8TXQ=

before_script:
  - travis_retry sudo pip3 install -r requirements.txt
  - set -e
  - make lint
  - travis_retry ./scripts/ci-docker-login.sh

jobs:
  allow_failures:
    - env: IMAGE=services/libfuzzer
    - env: IMAGE=services/funfuzz
    - env: IMAGE=services/grizzly-android
    - env: IMAGE=services/u2f-hid-rs
    - env: IMAGE=services/fuzzmanager
  include:
    - stage: Requirements
      env: IMAGE=services/linter
      name: Linter

    - stage: Core
      env: IMAGE=core/linux/amd64
      name: AMD64
      env: IMAGE=core/linux/arm64
      name: ARM64

    - stage: Create Core Manifest
      script: scripts/docker-manifest.sh mozillasecurity core

    - stage: FuzzOS
      env: IMAGE=base/linux
      name: FuzzOS

    - stage: Create Core Manifest
      script: scripts/docker-manifest.sh mozillasecurity fuzzos

    - stage: Grizzly
      env: IMAGE=services/grizzly
      name: Grizzly
    - stage: Services
      env: IMAGE=services/libfuzzer
      name: LibFuzzer
    - env: IMAGE=services/funfuzz
      name: FunFuzz
    - env: IMAGE=services/credstash
      name: Credstash
    - env: IMAGE=services/grizzly-android
      name: Grizzly Android
    - env: IMAGE=services/fuzzmanager
      name: FuzzManager
    - env: IMAGE=services/u2f-hid-rs
      name: U2F-HID Rust

script:
  - ./monorepo.py -ci travis -build -test -deliver -path $IMAGE

after_script:
  - travis_retry docker logout
