[tool.ruff]
line-length = 88
target-version = "py310"

[tool.ruff.lint]
ignore = []
select = [
    # flake8
    "E",
    "F",
    "W",
    # isort
    "I",
    # pyupgrade
    "UP",
    # includes yesqa
    "RUF",
]
